.screen{
  margin-top: 30px;
  background-color: white;
  min-height: 90vh;
  border-radius: 25px;
}

.side-nav-links{
 border-bottom: 3px solid var(--cool-grey-20);
}

.side-nav{
  border-right: 3px solid var(--cool-grey-20);
}

.mat-list-base .mat-list-item{
  height: 70px !important;
}

.mat-list-item:hover {
  background-color:  var(--cool-grey-20);
}

.router-link-active {
  background-color:  var(--cool-grey-20);
}
