<mat-accordion class="example-headers-align" *ngIf="!stage">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="h4 pt-2 pb-2">
        File Template Configuration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider class="ms-3 me-3"></mat-divider>
    <form [formGroup]="templateForm" autocomplete="off">
      <div class="row mt-3">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="fill" class="" floatLabel="always">
                <mat-label>Template name</mat-label>
                <input
                  input
                  matInput
                  type="text"
                  id="templateName"
                  formControlName="templateName"
                  placeholder="Enter template name"
                />
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Module</mat-label>
                <mat-select formControlName="module">
                  <mat-option value="Fund Transfer"> Fund Transfer </mat-option>
                  <mat-option value="Salaries"> Salaries </mat-option>
                  <mat-option value="Beneficiary"> Beneficiary </mat-option>
                  <mat-option value="user Management">
                    user Management
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" showToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="h4 pt-2 pb-2">
        File Template Configuration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider class="ms-3 me-3"></mat-divider>
    <div class="row mt-3 lower-template text-center" *ngIf="!data?.length">
      <div (click)="openTemplateBuilder()" class="cursor-pointer">
        <mat-icon
          svgIcon="big-circular-plus"
          style="font-size: 40px"
        ></mat-icon>
        <p class="text-bold">Start Building your Template</p>
        <small class="text-grey">
          Assist an existing customer with transactions
          <br />by viewing their profile and account details
        </small>
      </div>
      <div></div>
    </div>
    <div class="row mt-3" *ngIf="data?.length">
      <div class="pt-2 pb-2 d-flex justify-content-end">
        <div
          class="h5 text-danger strong-text cursor-pointer"
          (click)="editTemplate()"
        >
          <span><mat-icon svgIcon="edit"></mat-icon></span>
          <span> Edit Template</span>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z1 w-100"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index">
            <p>{{ i + 1 }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by name"
          >
            Column Name
          </th>
          <td mat-cell *matCellDef="let element">
            <p>{{ element.name }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="required">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by required"
          >
            Required?
          </th>
          <td mat-cell *matCellDef="let element">
            <p>{{ element.required }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by type"
          >
            Type
          </th>
          <td mat-cell *matCellDef="let element">
            <p>{{ element.type }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="businessRules">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Business Rule"
          >
            Business Rule
          </th>
          <td mat-cell *matCellDef="let element">
            <p>{{ element.businessRules }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <mat-icon
                svgIcon="three-dots-circled"
                [matMenuTriggerFor]="menu"
              ></mat-icon>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <span>Remove</span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="header-table"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="row mt-3">
        <div class="row-fluid d-flex justify-content-end mt-5">
          <button
            mat-flat-button
            color="primary"
            type="button"
            (click)="saveTemplate()"
            [disabled]="templateForm.status === 'INVALID' || !data?.length"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="row" *ngIf="stage === 'completed'">
  <app-confirmation-completion
    [data]="completionData"
    (confirmationDone)="confirmationDone($event)"
  ></app-confirmation-completion>
</div>
